<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}" type="image/x-icon">

    <title>Privacy Policy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
        }
    </style>
</head>
<body>
<h1>Privacy Policy</h1>
<p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect
    from you across our website and other sites we own and operate.</p>
<h2>1. Information We Collect</h2>
<p>We only collect information about you if we have a reason to do so, for example, to provide our services, communicate
    with you, or to make our services better.</p>
<h2>2. Information You Provide to Us</h2>
<p>We collect information that you provide to us directly.</p>
<h2>3. Information We Collect Automatically</h2>
<p>We also collect some information automatically.</p>
<h2>4. How We Use Information</h2>
<p>We use the information we collect to provide our services to you, to communicate with you, and to improve our
    services.</p>
<h2>5. Sharing Information</h2>
<p>We do not share your personal information with third parties, except as required by law.</p>
<h2>6. Security</h2>
<p>We are committed to ensuring that your information is secure.</p>
<h2>7. Links to Other Sites</h2>
<p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you
    will be directed to that third party's site.</p>
<h2>8. Changes to This Privacy Policy</h2>
<p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
    Policy on this page.</p>
<h2>9. Contact Us</h2>
<p>If you have any questions about this Privacy Policy, please contact us.</p>
</body>
</html>
