<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Services</title>
</head>
<body>
<h1>Terms and Services</h1>
<p>Last updated: June 24 2024</p>

<p>Welcome to PostIt!</p>

<h2>1. Introduction</h2>
<p>These Terms of Service ("Terms", "Terms of Service") govern your use of our web pages located at [Website URL]
    operated by [Company Name].</p>

<h2>2. Accounts</h2>
<p>When you create an account with us, you must provide us with information that is accurate, complete, and current at
    all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your
    account on our Service.</p>

<h2>3. Termination</h2>
<p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach the Terms.</p>

<h2>4. Governing Law</h2>
<p>These Terms shall be governed and construed in accordance with the laws of [State/Country], without regard to its
    conflict of law provisions.</p>

<h2>5. Changes</h2>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
    material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material
    change will be determined at our sole discretion.</p>

<h2>Contact Us</h2>
<p>If you have any questions about these Terms, please contact us at godadsamuel@gmail.com .</p>
</body>
</html>
